<div>
    <center> <b> <u> Congratulations...!</u>&#10024; &#10024;</b></center>
    <div>
        <h3>You win auction <b style="color: red;">watch</b> &#127873;</h3>

        <ul>
            <img src="" alt="" width="100px" style="border-radius: 50%;"> <br> <br>

            <li>winning date: {}
            </li>
            <li>
                pay price: {} rs
            </li>
        </ul>

        <p>If you want to its yours you have to pay <b style="color: green;">10000rs .</b></p>
    </div>
</div>