{% extends 'base.html' %} {% block title %}Registration page{% endblock title %} {% block content %}

<h2>update Profile</h2>
<h2></h2>

<div>
    <div>
        {% if messages %} {% for msg in messages %}
        <p {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</p>
        {% endfor %} {% endif %}
    </div>

    <form action="" method="post" novalidate>
        {% csrf_token %} {% if form.non_field_errors %} {% for error in form.non_field_errors %} {{error}} {% endfor %} {% endif %} {% for fm in form %} {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br> {% endfor %}
        <input type='submit' value='change' class='btn btn-primary'>
    </form>

</div>

{% endblock content %}