{% extends 'base.html' %}
{% block title %}Registration page{% endblock title %}
{% block content %}

<h2>Wellcome to profile <b>@{{name}}</b></h2>
{% if messages %} {% for msg in messages %}
<p {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</p>
{% endfor %} {% endif %}
<ul>
    <li><a href="{% url 'logout' %}">logOut</a></li>
    <li> <a href="{% url 'changePass' %}">Change password</a></li>
    <li><a href="{% url 'profileEdit' %}">Edit profile</a></li>
    {% if u == 1 %}
    <li><a href="{% url 'users' %}">all users</a></li>
    <li><a href="/auction/">add auction</a></li>
    {% endif %}
    <li><a href="{% url 'allauctions' %}">auction list</a></li>
</ul>


{% endblock content %}