{% extends "base.html" %} {% block title %} {% endblock title %} {% block content %}
<h2>Auction Details</h2>
{% if messages %} {% for msg in messages %}
<p {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</p>
{% endfor %} {% endif %}


<div class="card" style="width: 18rem;">
    <img src="/media/{{data.auction_image}}" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{data.auction_name}}</h5>
        <p class="card-text">{{data.auction_desc}}</p>
        <p class="card-text">Price : {{data.auction_price}} RS.</p>
        <p class="card-text">Current Price : {{data.auction_running_price}} Rs.</p>
        <form  method="post" novalidate class="row g-3">
            {% csrf_token %} 
            {% if form.non_field_errors %} 
            {% for error in form.non_field_errors %} 
            {{error}} {% endfor %} {% endif %}
             {% for fm in form %} 
             <div class="col-auto">
                 <p class="visually-hidden" >{{fm.label_tag}}</p>  
                 {{fm}}
            </div>
                <p class="error">{{fm.errors|striptags}}</p> {% endfor %}
            <div class="col-auto">
            <input type='submit' value='Biding' class="btn btn-primary mb-2 mt-2">
            </div>
        </form>
    </div>
</div>


{% endblock content %}