{% extends 'base_auction.html' %}
{% block title %}Change password{% endblock title %}
{% block content %}

<body>
    <h2>Change password</h2>
    <h2></h2>

    {% if messages %} {% for msg in messages %}
    <p {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</p>
    {% endfor %} {% endif %}
    <form action="" method="post" novalidate>
        {% csrf_token %} {% if form.non_field_errors %} {% for error in form.non_field_errors %} {{error}} {% endfor %} {% endif %} {% for fm in form %} {{fm.label_tag}} {{fm}} <span class="error">{{fm.errors|striptags}}</span> <br><br> {% endfor %}
        <input type='submit' value='Change' class="btn btn-danger">
    </form>
</body>

{% endblock content %}
