{% extends 'base_auction.html' %}
{% block title %}Dashbord{% endblock title %}
{% block content %}

<center>

    
    <h2>Wellcome in Action Bdding </h2>
</center>
{% if messages %} {% for msg in messages %}
<p {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</p>
{% endfor %} {% endif %}



{% if winner %}

{% for win  in winner  %}
<div>

    <img src="/media/{{win.auction_image}}"  width="90px " height="100px">
    <b>{{win.auction}}</b>

    Auction Winner is:- {{win.winner_name}}

</div>
<br><br>
{% endfor %}
{% endif %}


{% endblock content %}