{% extends 'base_auction.html' %}
{% block title %}User datails{% endblock title %}
{% block content %}

<h2>User details</h2>
    {% if messages %} {% for msg in messages %}
    <p {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</p>
    {% endfor %} {% endif %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %} 
        {% for error in form.non_field_errors %}
         {{error}}
          {% endfor %} 
          {% endif %} 
          {% for fm in form %}
           {{fm.label_tag}}
            {{fm}}
             {{fm.errors|striptags}}
              <br><br> 
              {% endfor %}
        <input type='submit' value='Update' class="btn btn-primary">
    </form>

{% endblock content %}